/* app/static/css/style.css */

/* Heading styles */
h1, h2, h3, h4, h5, h6 {
    color: #001233; /* Your desired heading color */
    margin-bottom: 10px;
}


/* Body background color */
body {
    background: #f4f4f4;
    font-size: 16px;
    line-height: 1.6;
}

