/* app/static/css/style.css */

/* Heading styles */
h1, h2, h3, h4, h5, h6 {
    color: #001233; /* Your desired heading color */
    margin-bottom: 10px;
}


/* Body background color */
body {
    background: #f4f4f4;
    font-size: 16px;
    line-height: 1.6;
}

.datetime {
    color: #666;
}

/* Add these custom styles to your style.css */

/* Style for the container */
.container {
    margin-top: 20px;
}

/* Style for the "Add New Entry" button */
.btn-add-entry {
    margin-top: 10px;
}

/* Style for the card */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 15px;
    border-radius: 5px;
    background-color: #fff; /* Card background color */
}

/* Style for the card title */
.card-title {
    font-size: 24px;
    font-weight: bold;
    color: #333; /* Card title color */
}

/* Style for the datetime section */
.datetime {
    font-style: italic;
    color: #666; /* Datetime color */
}

/* Style for the "View," "Update," and "Delete" buttons */
.card-footer a.btn {
    margin-right: 10px;
}

/* Style for the "Show All" button */
.show-all-btn {
    margin-top: 20px;
}
