{% extends "base.html" %}

{% block title %}Update Entry{% endblock %}

{% block content %}
    <!-- Flash Message on success -->
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ get_flashed_messages()[0] }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div class="card-footer">
        <a href="{{ url_for('view_entries') }}" class="btn btn-primary">View All Entries</a>
    </div>

{% endblock %}