<!--
Index Page Template

This HTML template defines the structure and content of the index page for the Flask web application.

Template Variables:
    None

Template Blocks:
    content: This block can be extended by child templates to provide specific content.

Google Fonts API:
    https://fonts.google.com/

-->

{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <h1 class="display-4">Welcome to MindCanvas!</h1>
                <p class="lead">Your Personal Journaling Platform</p>
                <p>Start documenting your thoughts, ideas, and experiences in your own private journal. Explore your thoughts and feelings, and keep your memories alive.</p>
                <a href="{{ url_for('add_entry') }}" class="btn btn-primary btn-lg">Get Started</a>
            </div>
            <!-- <div class="col-md-6">
                <img src="{{ url_for('static', filename='images/journal.png') }}" alt="Journal Image" class="img-fluid">
            </div> -->
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <h2>About the Author</h2>
                <p>Hi, I'm <a href="https://indrajitghosh.onrender.com" target="_blank">Indrajit Ghosh</a>, the creator of MindCanvas. I believe in the power of journaling to foster self-reflection and personal growth. Mind Canvas is designed to be your digital canvas for recording your thoughts and experiences.</p>
                <p>Feel free to start your journaling journey today and explore the wonderful world of self-discovery.</p>
            </div>
            <div class="col-md-6">
                <h2>Why MindCanvas?</h2>
                <p>With MindCanvas, you can:</p>
                <ul>
                    <li>Effortlessly organize your thoughts and ideas.</li>
                    <li>Thoughtfully reflect on your experiences and emotions.</li>
                    <li>Embrace personal growth with ease.</li>
                    <li>Create and manage encrypted entries for added security.</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}


