<!-- 
    app/templates/view_entries.html 
    NOTE: `entry` should be same as the output of JournalEntry.to_dict()
-->
{% extends "base.html" %}

{% block title %}View Entries{% endblock %}

{% block content %}

{% include 'flash_msgs.html' %}

<div class="container mt-5">
    <h1 class="display-4 mb-4">Journal Entries</h1>

    <div class="mt-4">
        <a href="{{ url_for('add_entry') }}" class="btn btn-primary btn-add-entry">Add New Entry</a>
    </div>
    <br>

    <div class="row">
        {% for entry in entries %}
            {% include 'entry_card.html' %}
        {% endfor %}
    </div>

</div>
{% endblock %}
